.footer {
    background-color: #000;
    padding-top: 55px;
    padding-bottom: 40px;
    color: #989898;
    font-size: 14px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 30%;

        &-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .logo {
        margin-bottom: 40px;
    }

    &__right {
        flex-grow: 1;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 75%;
    }

    .menu {
        width: 75%;

        &__link {
            color: #fff;
        }
    }

    &__company,
    &__copyright {
        transform: translateY(15px);
    }

    &__copyright {
        max-width: 195px;
    }

    &__company {
        display: flex;
        align-items: center;
        margin-left: auto;

        &-text {
            margin-left: 30px;
        }
    }
}
