.menu {
    width: 75%;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }

    &__link {
        color: currentColor;
        text-transform: uppercase;
        font-weight: 700;
    }
}
