.section {
    padding-top: 90px;
    padding-bottom: 90px;

    &__title,
    &__small-title {
        font-weight: 700;
        text-transform: uppercase;
    }

    &__title {
        margin-bottom: 80px;
        font-size: 40px;
    }

    &__small-title {
        margin-bottom: 30px;
        font-size: 20px;
    }

    &__text {
        color: #404040;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
    }
}
